@tailwind base;
@tailwind components;
@tailwind utilities;

.borderRadius {
    border-radius: 6px;
  }
  .roundedCircle {
    border-radius: 100%;
  }

.spinner{
  width: 100vw;
  height: 100vh;
  position: sticky;
  z-index: 99;
  display: flex;
  top: 0px;
   left: 0px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.spinner::before{
   content: '';
   top: 0px;
   left: 0px;
   background-color: black;
   opacity: 0.5;
  width: 100vw;
  height: 100vh;
  position: absolute;
}